<div class="container text-center py-3">
  <h1 class="pb-3">Edit Purchase <%= @purchase.id %></h1>

  <%= form_with model: [@store, @product, @purchase], local: true do |f| %>
    <div class="form-group col-md-6 offset-md-3">
      <label>Quantity</label>
      <%= f.number_field :quantity, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-6 offset-md-3">
      <label>Delivery Address</label>
      <%= f.text_area :delivery_address, class: "form-control" %>
    </div>
    
    <%= f.submit "Buy", class: "btn btn-primary" %>
    <%= link_to "Cancel", store_product_path(@store, @product), class: "btn btn-danger" %>
  <% end %>
</div>