<div class="container text-center py-3">
  <h1 class="pb-3">Products of <%= @store.name%> </h1>
  <%= link_to "Add Product", new_store_product_path(@store), class: "btn btn-success" %>
  <%= link_to "Back to Stores", stores_path, class: "btn btn-danger" %>
  
  <div class="row">
    <% @store.products.each do |product| %>
      <div class="col-md-4">
        <div class="card mt-4" style="width: 20rem;">
          <img src="<%= asset_path('img-product.png') %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title mb-0"><%= link_to product.name.titleize, store_product_path(@store, product) %> </h5>
            <%#= link_to "See Products", store_products_path(store), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>