<div class="container text-center py-3">
  <h1 class="pb-3">Add Product</h1>

  <%= form_for(@product, url: {action: :create}) do |f| %>
    <div class="form-group col-md-6 offset-md-3">
      <label>Product Name</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-6 offset-md-3">
      <label>Price</label>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-6 offset-md-3">
      <label>Quantity</label>
      <%= f.text_field :quantity, class: "form-control" %>
    </div>

    <%= f.submit "Create", class: "btn btn-primary" %>
    <%= link_to "Cancel", store_products_path(@store), class: "btn btn-danger" %>
  <% end %>
</div>